html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #031613, #042e1e);
    font-family: Arial, sans-serif;
    color: #E9EFEC;
    
}

header {
    margin: auto;
    width: 100%;
    padding: 25px;
    font-size: 40px;
    background-color: #05241f ;
    text-align: center;
    color: #E9EFEC;
}

.Personal-Info {
    margin: auto;
    padding: 25px;
    width: 100%;
}

.Person-Info {
    
}


